<section class="section banner">
    <div [@bannerTrigger] class="container">

      

        <div class="section-box-banner">
            <div class="content">

                <div class="blob-effect">
                    <span></span>
                    <span></span>
                    <span></span>
                    </div>
                    
                <div>
                    <h1>Hi buddy, My Name is</h1>
                </div>
                <div class='banner-title'>
                    <h2>Rishabh Jain.</h2>
                    <h3>Full Stack Developer</h3>
                </div>
                <div class='banner-description'>
                    <p class="mt-4">
                        I have <span class='underline'>2+ years of experience</span> developing Backend, interfaces, Pipes, 
                        and technological solutions to make the web a better place. I am dedicated to writing and refactoring clean, 
                        reusable, and scalable code in <span class='underline'>Angular</span> and also <span class='underline'>Java, Node, Postgres & MongoDB</span> 
                        applying good practices and development standards.
    
                    </p>
                    <p _ngcontent-duh-c16="" class="mt-4 ng-tns-c16-2"> Mail : <span _ngcontent-duh-c16="" class="underline ng-tns-c16-2">rjrishabhbn@gmail.com</span></p>
                </div>
            </div>
            <div class="div-btn-banner">
                <a href="mailto:rjrishabhbn@gmail.com" target="_blank" class="main-btn">
                    Get In Touch
                </a>
            </div>
        </div>
    </div>
</section>
